


.new{

    text-align: center;
    margin: auto;
    color: #FFF;
    padding: 177px,383px,530px,531px;
    padding-top: 177; 
    margin: 10px;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: auto;
    
}
.head{
    text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
width: 632px;
margin: auto;
color: #FFF;


}
.header{
    
    background-image:  url('Banner\ Image.png');
    padding-top: 20px;
    width: 1320px;
height: 600px;
flex-shrink: 0;
background-repeat: no-repeat;
background-position: center 50%50%;
border-radius: 16px;
padding: 50px,120px,140px,140px;
margin-left: 17%;
margin-top: 40px;
background: linear-gradient(180deg, #070211 0%, white rgba(27, 15, 15, 0) 100% #070211, #07021100);
width: 100%
background-origin: content-box;


}
.category h1{
    text-align: center;
    color: #F00;


font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
height: 48px;

}
.category p{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
line-height: 10px;
}
.category h3{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
 
.category img{ 
    width: 802.9px;
height: 500px;
flex-shrink: 0;
margin-left: 450px;
margin-left: 35%;


    

}
.title h1{
    width: 642px;
    font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
display: flex;
}
.title p{
    width: 697px;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
display: flex;
}
.title button{
    text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
display: flex;
}
.
    background-image: url('../images/Vectorrr.png');
    width: 1320px;
height: 600px;
flex-shrink: 0;
 linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
 
}
.title-text{
    margin-left: 400px;
    align-items: center;
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
#690B02, #8F4941, #B18079, #CDADA8, #E3D1CD, #F2EAE7, #FCFAF6, #FFFFFC

}
.place h4 span{
 color: #F00;
}

.place h4{
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}


.place button{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
text-align: center;
border-radius: 8px;
background: #F00;
margin-left: 47%;

}
.place h4 button{
    
    border-color:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
 




 
 
 

 

 

 

    


}










                

